<section class="about" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="about-list">
      <li class="about-list-item border">
        <h3 class="about-title">Fachkenntnisse und Erfahrung</h3>
        <p class="about-text">
          Eine deutsche Beratungsfirma bietet erstklassige Fachkenntnisse und
          umfassende Erfahrung in verschiedenen Branchen.
        </p>
      </li>

      <li class="about-list-item border">
        <h3 class="about-title">Qualität, Effizienz und Zuverlässigkeit</h3>
        <p class="about-text">
          Die deutsche Beratungsbranche zeichnet sich durch ihre hohe Qualität,
          Effizienz und Zuverlässigkeit aus.
        </p>
      </li>

      <li class="about-list-item">
        <h3 class="about-title">
          Präzise Analyse und maßgeschneiderte Lösungen
        </h3>
        <p class="about-text">
          Kunden profitieren von der präzisen Analyse, maßgeschneiderten
          Lösungen und dem exzellenten Kundenservice einer deutschen
          Beratungsfirma.
        </p>
      </li>
    </ul>
  </div>
</section>
