<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookie Popup</title>
  </head>
  <body>
    <div id="cookiePopup" class="cookie-popup">
      <p>
        Zur Gewährleistung der ordnungsgemäßen Funktion der Website werden
        Cookies verwendet. Wenn Sie die Website weiterhin nutzen, stimmen Sie
        dem zu.
      </p>
      <button id="agreeButton" class="agree-button">I agree</button>
    </div>
    <script src="../js/cookie.js"></script>
  </body>
</html>
