<footer class="footer" id="scroll">
  <div class="container">
    <div class="footer-box">
      <h2 class="footer-title">
        <span class="footer-accent">Germany</span> Consulting</h2>
      <div class="address-box">
        <address>
          <p class="address-title">Kontaktiere uns</p>
          <ul class="address-list">
            <li class="address-list-item">
              <a href="tel:+380684439426" class="address-link"
                >+49 (68) 443-94-26</a
              >
            </li>
            <li class="contacts-list-item">
              <a href="mailto:simplychoc@gmail.com" class="address-link"
                >german_consulting@gmail.com</a
              >
            </li>
          </ul>
        </address>

        <ul class="footer-socials-list">
          <li class="footer-socials-item">Datenschutzrichtlinie</li>
          <li class="footer-socials-item">Nutzungsbedingungen</li>
          <li class="footer-socials-item">Alle Rechte vorbehalten</li>
        </ul>
      </div>
    </div>
    <div class="footer-line"></div>
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#blog">Blog</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#contacts">Contacts</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#faq">FAQ</class=>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#about-us">About us</a>
      </li>
      <li class="footer-nav-item">
          <a class="footer-nav-link" href="#rearch">Search</a>
      </li>
    </ul>
  </div>
</footer>
